<div class="row">
  <div class="col-xs-12">
   <ul class="nav nav-pills">
    <li routerLinkActive="active"> <a [routerLink]="['/weather']" >Weather</a></li>
    <li routerLinkActive="active"> <a [routerLink]="['/device']" >Device</a></li>
    <li routerLinkActive="active"> <a [routerLink]="['/user']" >User</a></li>
    <li routerLinkActive="active"> <a [routerLink]="['/devicesale']" >Sales</a></li>
    <li routerLinkActive="active"> <a [routerLink]="['/reports']" >Reports</a></li>
   </ul>
 </div>
</div>