<h2>User Functionality</h2>
<div class="col-md-8 col-md-offset-2">
 <div class="form-group">  
  <ul class="nav nav-pills">
      <li routerLinkActive="active"> <a *ngIf="addNewUser" (click)="toggleAddUser(false);callGetUsers();">Show Users</a></li>
      <li routerLinkActive="active"> <a *ngIf="showUsers" (click)="toggleAddUser(true);">Add User</a></li>
  </ul>  
  <div *ngIf="addNewUser">
    <h2>Add User</h2>
    <p class="well lead">        
        <i>UserName :</i>
        <input #NewUserName />
        <br>
        <i> NewFirstName :</i>
        <input #NewFirstName />
        <br>
        <i> NewLastName :</i>
        <input #NewLastName />        
    </p>
    <button (click)="callCreateUser(NewUserName.value,NewFirstName.value,NewLastName.value);NewUserName.value='';NewFirstName.value='';NewLastName.value='';">Add New User</button>
  </div>

  <div *ngIf="showUsers"> 
    <h2>Users </h2>      
      <p *ngFor="let User of my_result3.Items" class="well lead">
          <i> UserID :</i> {{User.UserID}}<br>          
          <i> UserName :</i> {{User.User.UserName}}<br>          
          <i> FirstName :</i> {{User.User.FirstName}}<br>
          <i> LastName :</i> {{User.User.LastName}}      
      </p>      
  </div>

  <p class="text-info">Total # of all the service requests including Weather, Device, and User is :
      <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>

 </div>
</div>